body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #2c2c2c;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
}

a {
    color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    height: calc(100% - 40px);
    width: 100%;
    box-sizing: border-box; /* Include padding in width calculation */
}

/* ====== Animation TAB ====== */

#animation {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#axe-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 20vw;
    margin: 10px;
}

#axe-container h3 {
    text-align: center;
    margin: 10px;
    width: inherit;
}

#axe-container .axes {
    width: 0p;
    height: 0p;
}

#visualization1, #visualisation2 {
    background-color: #eee;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    height: 150px; /* Set a fixed height for visualization */
}

#threeCanvas1, #threeCanvas2 {
    width: 100%;
    height: 100%;
}
  .inner-container {
    height: calc(100% - 20px); /* Berechnet die Höhe */
    overflow: hidden; /* Versteckt überstehende Inhalte */
  }
  
 

#axe-container .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

#timeline {
    width: 100%;
}

#axe-container .controls .controls--timer-and-button {
    display: flex;
    gap: 10px;
}

/* ====== Graph TAB ====== */
#graphs {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 10px; /* Optional padding between columns */
}

/* ====== Titlebar CSS ====== */
#titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    background: #2c2c2c;
    color: #f0f0f0;
    font-size: 1.2em;
    font-weight: bold;
    transition: all ease 0.2s;
    border: 1px solid #333;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

#heading {
    width: 100%; /* Make the h1 full width to ensure centering works */
    text-align: center;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#tab-controls {
    position: absolute; /* Position the tabs absolutely within the title bar */
    left: 10px; /* Align to the left */
    display: flex;
}

.tab-link {
    background-color: #3c3c3c; /* Slightly lighter than title background for contrast */
    color: #f0f0f0;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1em;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.tab-link:hover, .tab-link.active {
    background-color: #4c4c4c; /* Even lighter on hover/active for visibility */
}

#upload-button {
    position: absolute; /* Position the tabs absolutely within the title bar */
    right: 50px; /* Align to the left */
    display: flex;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

#upload-button label {
    /* Additional label styling here */
    color: #f0f0f0;
    font-size: 32px;
}

.dashboard-container {
    display: flex;
    height: 100%;
    width: 100%;
    background: #2c2c2c;
    overflow: hidden;
    border-radius: 4px;
}

.sidebar {
    width: 10%;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    flex-grow: 1;
    display: flex; /* Make the content flex to allow items to sit side by side */
    
    box-sizing: border-box;
}

.section {
    background: #333;
    margin-right: 20px; /* Add space between the sections */
    flex-basis: 50%; /* Assign width to each section */
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

.section:last-child {
    margin-right: 0; /* Remove margin for the last child */
}

.section-header {
    background: #4c4c4c;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.section-mapping {
    background: #4c4c4c;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.box {
    
    padding: 0; /* Entfernen des internen Paddings, damit der Button das ganze div ausfüllen kann */
    border-radius: 4px;
    margin-bottom: 5%;
    background-color: #4c4c4c; /* Hintergrundfarbe des div */
    border: none; /* Entfernen des Standard-Borders */
  }
  
  .box button {
    margin-bottom: 0%;
    width: 100%; /* Setzt die Breite des Buttons auf die gesamte Breite des Elternelements */
    height: 100%; /* Setzt die Höhe des Buttons auf die gesamte Höhe des Elternelements */
    padding: 15px; /* Abstand im Inneren des Buttons */
    border-radius: 4px; /* Eckenradius des Buttons wie beim div */
    background-color: #4c4c4c; /* Hintergrundfarbe des Buttons */
    color: #f0f0f0; /* Textfarbe des Buttons */
    border: none; /* Entfernt den Border des Buttons */
    cursor: pointer; /* Zeigt den Cursor als Klick-Symbol */
    outline: none; /* Entfernt den Fokus-Ring für eine saubere Optik */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border innerhalb der Breite/Höhe enthalten sind */
  }
  
  .box button:hover {
    background-color: #5c5c5c; /* Dunklere Farbe beim Hover */
  }
  