
.threeCanvas {
    max-width: 100%;
    max-height: 300px;
}

:root {
    --jumbotron-padding-y: 3rem;
}

table {
  width: 100%;
  table-layout: fixed;
}

td{
  vertical-align: top;
  width: 50%;

}
